 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>

                            <h4>Documents: </h4>
                            <a href="documents/{{ post.document1 }}">{{ post.document1Name }}</a></br>
                            <a href="documents/{{ post.document2 }}">{{post.document2Name}}</a></br>
                            <a href="documents/{{ post.document3 }}">{{post.document3Name}}</a></br>
                            <a href="documents/{{ post.document4 }}">{{post.document4Name}}</a></br>
                            
                            
                            <ul class="list-inline item-details">
                                <li>Due Date:
                                    <strong>{{ post.due_date }}
                                    </strong>
                                </li>
                                <li>Studio Task:
                                    <strong>{{ post.task }}
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Show Me More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
