<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tools for Group Planning</h2>
                    <h3 class="section-subheading text-muted">Planning group travel doesn't have to be a pain. Here's how we can help.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Guest Management</h4>
                    <p class="text-muted">With group travel, it's easy to forget who's dropped out or added in. Instagator helps you keep track of group participants and helps you make sure that everyone's on the same page.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Group Activity Input</h4>
                    <p class="text-muted">You shouldn't have to guess how the group feels about activities. Instagator makes it easy for you to get group input on activities to figure out which ones will be the biggest hits. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Document and Payment Tracking</h4>
                    <p class="text-muted">Travel can be expensive and complicated, and it doesn't help that people are forgetful! Instagator helps everyone stay on top of deadlines and documents, and helps you get paid on time.</p>
                </div>
            </div>
        </div>
    </section>