<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tools for Group Planning</h2>
                    <h3 class="section-subheading text-muted">Instagator facilitates group travel in two primary ways: first, by helping travel planners manage logistics and get feedback during the planning process; and second, by helping trip participants feel more involved in the planning process and therefore invested in the outcome of the trip.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Guest Management</h4>
                    <p class="text-muted">Instagator helps keep track of group participants and helps make sure that everyone is up to date on trip details.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Group Activity Input</h4>
                    <p class="text-muted">Instagator makes it easy for planners and participants to communicate over activity preferences so that the optimal itinerary can be created. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Task Tracking</h4>
                    <p class="text-muted">Instagator helps trip participants stay on top of deadlines and other to-dos, helping take some stress off of the trip planner.</p>
                </div>
            </div>
        </div>
    </section>