<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    <div id="temp_notice">
        <h2><center>
        If you're looking for the medium-fi prototype, go <a class="page-scroll" href="#portfolio">here!</a>
        </center></h2>
    </div>
    {% include services.html %}
    <!--  include about.html  -->
    {% include team.html %}
    {% include portfolio_grid.html %}
    <!--  include contact.html  -->
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>